<div class="favorite">
<% if post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
          <i class="fas fa-heart" aria-hidden="true" style="color: red"></i>&nbsp;
          <% end %>
        <% else %>
        <%= link_to post_favorites_path(post), method: :post, remote: true do %>
          <i class="far fa-heart" aria-hidden="true"></i>&nbsp;
          <% end %>
        <% end %>

        <%= link_to like_post_path(post.id) do %>
          <%= post.favorites.count %></br>
        <% end %>
</div>