<div class="comment_new_btn_<%= post.id %>">
  <%= form_with(model:[post, comment], url: post_post_comments_path(post.id１), method: :post, remote: true, data: {"turbolinks" => false}) do |f| %>
    <%= f.text_area :comment, class:"col-10 form-control", placeholder: "コメントを入力してください" %>
    <%= f.submit '投稿', class:"col-1 btn btn-danger form-control" %>
  <% end %>
</div>