<div class="main-visual">
  <div class="main-visual-box">

    <!--サクセスメッセージ-->
    <%= render 'layouts/success' %>

    <!--見出し-->
    <div class="title">
      <h1 class="text-center title-message">五・七・五で日常をつぶやく</h1>
    </div>

    <!--説明文-->
    <div class="about-box">
      <div class="about-box-message">
        <p class="text-center about-message">川柳の投稿サイトです。</br>
          会員登録をすると川柳の投稿、
          他ユーザーの投稿へのいいね、
          コメントができます。</br>
          どなたでも気軽にご利用ください。
        </p>
      </div>
    </div>
  </div>
</div>

<!--フッター-->
<footer class="navbar fixed-bottom">
  <p class="footer-body">@日々川柳</p>
</footer>
