
<div class="main-visual">
  <div class="main-visual-box">

    <!--見出し-->
    <div class="row pt-5">
      <div class="col-8 col-offset-2">
        <h1 class="text-center">五・七・五で日常をつぶやく</h1>
      </div>
    </div>

    <!--説明文-->
    <div class="row mt-5">
      <div class="col-xs-8 col-xs-offset-2">

      </div>
    </div>

  </div>
</div>




<!--フッター-->
<%= render 'layouts/footer' %>