
<div class="main-visual">
  <div class="main-visual-box">

    <!--見出し-->
    <div class="title">
      <h1 class="text-center">五・七・五で日常をつぶやく</h1>
    </div>

    <!--説明文-->
    <div class="body">
      <h2 class="text-center pt-5">日々川柳について</h2>
        <p class="text-center pt-5">川柳の投稿サイトです。</br>
          会員登録をすると川柳の投稿、</br>
          他ユーザーの投稿へのいいね・</br>
          コメントができます。</br>
          どなたでも気軽にご利用ください。
        </p>
    </div>

  </div>
</div>

<!--フッター-->
<footer class="navbar fixed-bottom">
  <p class="footer-body">@日々川柳</p>
</footer>
