

      <div class="main">
        <div class="box">

          <p class="theme">お題 「<%= post.theme %>」</p>
          <div class="text">
              <%= post.text %>
          </div>
        </div>
      </div>


