 <div class="row form-group justify-content-center mt-5">
  <label class="col-offset-2 col-3">お題</label>

  <%= f.text_field :theme, class:"col-4 form-control" %>

  </div>

  <div class="row form-group justify-content-center">
  <label class="col-3">本文</label>
  <%= f.text_area :text, class:"col-4 form-control" %>
  </div>
  
 <div class="row form-group justify-content-center">
  <label class="col-3">コメントを募集しますか？</label>
  <div class="col-6">
  <%= f.radio_button :comment_status, 'true' %>はい
  <%= f.radio_button :comment_status, 'false', checked: true %>いいえ</br>
  <p>はいを選択をすると、コメント募集ページに二日間投稿がのります。</p>
  </div>
  </div>


