<!--エラーメッセージ-->
<%= render 'layouts/errors', obj: @post %>

<div class="container">

  <h2 class="post-title">新規投稿</h2>
  <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
    <!--投稿フォーム-->
    <%= render 'posts/post', f: f %>

    <div class="row form-group justify-content-center">
      <%= f.submit '投稿する', class: "col-2 btn btn-info btn-lg" %>
    </div>
  <% end %>
</div>